{% extends "@AceCommon/Default/layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1>Blog</h1>
        <a href="{{ path('cms.blog.create') }}" class="btn btn-primary">Create blog item</a>
    </div>

    <ul>
        {% for blog in blogs %}
            <li>
                {{ blog.name }} ({{ blog.id }})

                <a href="{{ path('cms.blog.update', {id: blog.id}) }}" class="btn btn-info">Update</a>
                <a href="#" data-toggle="modal" data-url="{{ path('cms.blog.delete', {id: blog.id}) }}" class="btn btn-danger csrf-item">Delete</a>
            </li>
        {% endfor %}
    </ul>
    {{ include('AceCommonBundle:Default:csrf-item.html.twig', { 'csrfForm': csrfForm }) }}
{% endblock content %}

