{% extends "@AceCommon/Default/layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'Creating event item' | trans }}</h1>
        <a href="{{ path('cms.event.list') }}" class="btn btn-info">{{ 'Back to overview' | trans }}</a>
    </div>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.intro) }}
    {{ form_row(form.content) }}
    {{ form_row(form.start) }}
    {{ form_row(form.end) }}
    {{ form_row(form.blogs) }}
    {{ form_end(form) }}
{% endblock content %}